body {
    background-color: black;
    padding: 20px;
}

.container {
    /* Container for all the cards added */
    /* Use flexbox and make it responsive from beginning */
    display: grid;
    grid-gap: 5px;
    

}

.container > div {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.transIcon {
    background-image: transparent;
}

.card1 {
    /* CSS card */
    grid-column: 1;
    grid-row: 1 / span 2;
    background-color: tomato;
}

.card2 {
    /* CSS card */
    grid-column: 2 / span  1;
    background-color: teal;
}

.card3 {
    /* CSS card */
    grid-column: 3;
    background-color: thistle;
}

.card4 {
    /* CSS card */
    grid-column: 2 / span 2;
    background-color: violet;
}

.card5 {
    /* CSS card */
    grid-column: 1 / span 2;
    background-color: bisque;
}

.card6 {
    /* CSS card */
    background-color: chartreuse;
}

.cardButton {
    /* UPDATE: I want to remove the top and left white on the buttons. */
    /* CSS styling for cardButton */
    background-color: transparent;
    color: cornsilk;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.linkStyleNone {
    text-decoration: none;
}

.cardButton:hover {
  /* background-color: #555555; */
    box-shadow: 3px 3px 3px rgba(27, 27, 27, 0.76);
    cursor: pointer;
}

.cardHeader {
    /* CSS for Cards Header */
    color: whitesmoke;
}

.cardText {
    /* CSS for cards text below header */
    color: whitesmoke;
}